@mixin mq($breakpoint)
{

  $isdefined:false;

  @each $mq in $mq-list
  {
    $mq-name:   nth($mq, 1);
    $mq-param:  nth($mq, 2);

    @if (unquote($breakpoint) == $mq-name)
    {
      $isdefined:true;

      @media all and #{$mq-param}
      {
        @content;
      }
    }
  }

  @if ($isdefined == false)
  {
    @warn "Breakpoint ‘#{$breakpoint}’ is not defined";
  }
}
