/**
  Typography
*/

$base-font-family: sans-serif;

/**
  Colors
*/

$white: #fff;
$black: #171717;
$orange: #eba400;
$lightorange: #ffbe29;
$darkgray: #333;
$lightgray: #919191;



$body-bg-color: $white;
$body-text-color: $darkgray;
$body-link-text-color: $orange;
$body-link-text-color-hover: $lightgray;

$header-bg-color: $black;
$header-text-color: $white;
$header-link-text-color: $white;
$header-link-text-color-hover: $lightgray;
$header-link-text-colot-current: $orange;
