/**
  Colors
*/

$white: #fff;
$black: #171717;
$orange: #eba400;
$lightorange: #ffbe29;
$darkgray: #333;
$lightgray: #919191;


$highlight-color: $orange;
$body-bg-color: $white;
$text-color: $darkgray;
$header-bg-color: $orange;
$header-text-color: $black;
$link-text-color: $orange;
$link-text-color-hover: $lightorange;
