.mainnav {
  display: inline-block;
  float: right;
  overflow: hidden;
  text-transform: uppercase;
}

.mainnav__hamburger {
  float: right;
}

.mainnav__nav {
  height: 0;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  text-align: center;
}

.mainnav__item {
  a {
    padding: 1em;
    text-decoration: none;
    color: $header-text-color;
    &:hover {
      color: $header-bg-color;
    }
  }
  &:last-of-type {
    a {
      color: $white;
    }
  }
}

.mainnav__cta {
  display: none;
  text-align: center;
}

@media screen and (min-width: 37.5em) {

  .mainnav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/-1;
  }


  .mainnav__hamburger {
    display: none;
  }

  .mainnav__item {
    &:last-of-type {
      display: none;
    }
  }
  .mainnav__cta {
    display: block;
  }
}
