.mainbanner {
  //padding: 3em 5%;
  grid-column: 1/-1;
  display: grid;
  text-align: center;
}

.mainbanner__image {
  //height: 100%;
  //background-image: url(/assets/images/background.jpg);
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  filter: grayscale(100%);
}
.mainbanner__content {
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 1em 5%;
  z-index: 10;
}

.mainbanner__title {
  margin-bottom: 3rem;
  font-size: 2.0625rem;
  font-weight: 700;
  text-shadow: 3px 5px 5px rgba($color-main-dark2, 0.6);
}

.mainbanner__tagline {
  margin-bottom: 1.5rem;
  font-size: 1.875rem;
  text-shadow: 3px 5px 5px rgba($color-main-dark2, 0.6);
}

.mainbanner__cta {
  padding: 0.5em 1em;
  border: solid 1px $white;
  border-radius: 12px;
  background-color: $white;
  background-image: linear-gradient($white, $color-main-light3); 
}

@include mq(medium) {
  .mainbanner {
    /*grid-column: 1/-1;
    padding: 6em 5%*/
  }

  .mainbanner__content {
    max-width: 48em;
    margin: 0 auto;
  }

  .mainbanner__title {
    font-size: 3.0625rem;
  }
}
