.mainnav {
  padding: 0 5%;
  overflow: hidden;
  text-transform: uppercase;
}

.mainnav__hamburger {
  position: absolute;
  top: 1rem;
  right: 5%;
  a {
    outline: none;
  }
}

.mainnav__nav {
  background-color: $header-bg-color;
  transition: all 0.5s;
  overflow: hidden;
}
.mainnav__nav--not-visible {
  max-height: 0;
}
.mainnav__nav--is-visible {
  max-height: 16em;
  padding: 1em 0;
}

.mainnav__item {
  padding: 1em 0;
  border-bottom: solid 1px $darkgray;
  &:first-child {
    margin-top: 2em;
    border-top: solid 1px $darkgray;
  }
  &:last-child {
    margin-bottom: 1.5em;
  }

  a {
    text-decoration: none;
    color: $header-link-text-color;
    &:hover {
      color: $header-link-text-color-hover;
    }
  }
}

.mainnav__cta {
  display: none;
  text-align: center;
}

@media screen and (min-width: 37.5em) {

  .mainnav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/-1;
  }


  .mainnav__hamburger {
    display: none;
  }

  .mainnav__item {
    &:last-of-type {
      display: none;
    }
  }
  .mainnav__cta {
    display: block;
  }
}
