.mainbanner {
  padding: 3em 0;
  background-image: url(/assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  filter: grayscale(100%);
}

.mainbanner__title {
  font-size: 2.0625rem;
}

.mainbanner__tagline {
  font-size: 1.875rem;
}

@media screen and (min-width: $bp-small) {
  .mainbanner {
    grid-column: 1/-1;
    padding: 6em 0;
  }
}
