.mainnav {
  padding: 0 5%;
  overflow: hidden;
  text-transform: uppercase;
}

.mainnav__hamburger {
  position: absolute;
  top: 1rem;
  right: 5%;
  a {
    outline: none;
  }
}

.mainnav__nav {
  background-color: $header-bg-color;
  transition: all 0.5s;
  overflow: hidden;
}
.mainnav__nav--not-visible {
  max-height: 0;
}
.mainnav__nav--is-visible {
  max-height: 26em;
  padding: 1em 0;
}

.mainnav__item {
  padding: 1em 0;
  border-bottom: solid 1px $color-main-dark1;
  &:first-child {
    //margin-top: 2em;
    border-top: solid 1px $color-main-dark1;
  }
  &:last-child {
    margin-bottom: 1.5em;
  }

  a {
    text-decoration: none;
    transition: all 0.5s;
    color: $header-link-text-color;
    &:hover {
      color: $header-link-text-color-hover;
    }
  }
}

.mainnav__cta {
  //display: none;
  //text-align: center;
}

@include mq(medium) {

  .mainnav {
    //display: grid;
    //grid-template-columns: 2fr 1fr;
    grid-column: 2/-1;
  }

  .mainnav__nav--not-visible,
  .mainnav__nav--is-visible {
    //height: auto;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    align-items: center;
  }

  .mainnav__hamburger {
    display: none;
  }

  .mainnav__item {
    margin: 0;
    padding: 0 0.5em;
    border: none;
    &:first-child {
      margin-top: 0;
      border-top: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:last-of-type {
      //display: none;
      grid-column: -1;
      text-align: right;
    }
  }
  .mainnav__cta {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      padding: 0.5em 0.65em;
      border: solid 1px $border-dark;
      border-radius: 0.25em;
      color:$header-link-text-color;
      text-decoration: none;
      transition: all 0.5s;

      &:hover {
        border-color: $header-link-text-color-hover;
      }
    }
  }
}
