.page {
  margin: 3rem 5%;
}

.page__content {
  max-width: 48em;
  margin: 0 auto;
}
.page__header {
  margin-bottom: 2rem;
  text-align: center;
  color: $color-accent;
}

.page__intro {
  margin-bottom: 2rem;
  text-align: center;
  color: $color-main-light1;
}


@include mq(medium) {
  .page {
    margin: 6rem 0;
  }

  .page__header {
    margin-bottom: 3rem;
  }

  .page__intro {
    margin-bottom: 3rem;
  }
}
