.page {
  margin: 3rem 5%;
}

.page__header {
  margin-bottom: 2rem;
}

.page__intro {
  margin-bottom: 2rem;
}


@include mq(medium) {
  .page {
    margin: 6rem 0;
  }

  .page__header {
    margin-bottom: 3rem;
  }

  .page__intro {
    margin-bottom: 3rem;
  }
}
