.post {
  margin: 3rem 5%;
}

.post__content {
  max-width: 48em;
  margin: 0 auto;
}
.post__header {
  margin-bottom: 2rem;
  text-align: center;
  color: $color-accent;
}

.post__intro {
  margin-bottom: 2rem;
  text-align: center;
  color: $color-main-light1;
}


@include mq(medium) {
  .post {
    margin: 6rem 0;
  }

  .post__header {
    margin-bottom: 3rem;
  }

  .post__intro {
    margin-bottom: 3rem;
  }
}
