/**
  HEader Global
*/
.siteheader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
  background-color: $header-bg-color;
  color: $header-text-color;
}

.siteheader__logo {
  text-align: center;
}
