/**
  HEader Global
*/

.siteheader {
  padding: 2rem 5%;
  background-color: $header-bg-color;
  color: $header-text-color;
}


@media screen and (min-width: 37.5em) {
  .siteheader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
  }

  .siteheader__logo {
    text-align: center;
  }
}
