/**
  HEader Global
*/

.siteheader {
  position: relative;
  background-color: $header-bg-color;
  color: $header-text-color;
}

.siteheader__logo {
  padding: 1rem 5%;
}


@media screen and (min-width: 37.5em) {
  .siteheader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .siteheader__logo {
    padding: 2rem 0;
    text-align: center;
  }
}
